* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: darkslategray;
  font-size: large;
  color: black;
  text-align: center;
}
.test {
  margin-top: 100px;
  font-family: 'Montserrat', sans-serif;
}
